@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
   font-family: 'Roboto', sans-serif;
   background-color: #0f1113;
   color: #b5bac4;
   margin: 0;
}

/* -------nav------- */
.nav-container{
  text-align: center;
  color: #e4e4e4;
  font-size: 1.8rem;
}
.navbar{
   display: grid;
}
.navbar ul {
   display: flex;
   list-style: none;
   width: auto;
 }
 .navbar ul li {
   margin: 0 1rem;
 }
.navbar ul li a {
   text-decoration:none;
   text-transform: uppercase;
   color: #f4f4f4;
 }
 .navbar ul li a:hover {
   color: skyblue;
 }
.symbol{
   padding-top: 20px;
   padding-left: 2%;
   padding-right: 20px;
}
.nav_text{
   grid-column-start: 2;
}
.shortcuts{
   grid-column-start: 3;
}

.container{
   background:url("/img/wallpaper1.jpg");
   background-repeat: no-repeat;
   padding: 1.5%;
   background-size: cover;
   display: grid;
   gap: 5px;
}

/* ------- img + intro ------- */
.myimg{
   grid-row-start: 1;
   grid-column-start: 1;

   height: 90%;
   width: 60%;
   object-fit: contain;
   padding: 1.3%;
}

.welcome-1{
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 3;
}
.welcome-2{
   padding-top: 3%;
   grid-row-start: 2;
   grid-column-start: 1;
}
.welcome-3{
   padding-top: 3%;
   grid-row-start: 2;
   grid-column-start: 3;
}
.welcome-1 h1{
   font-size: 3.1rem;
   text-align: center;
}
.welcome-1 h2{
   font-size: 2.2rem;
   text-align: center;
}
.welcome-1 li{
   font-size: 1.5rem;
}
.welcome-2 h3{
   font-size: 2.2rem;
   text-align: center;
}
.welcome-2 li{
   font-size: 1.5rem;
}
.welcome-3 h3{
   font-size: 2.2rem;
   text-align: center;
}
.welcome-3 li{
   font-size: 1.5rem;
}

/* -------grid part2------- */
.about{  
   grid-row-start: 3;
   grid-column-start: 1;
}
.about p{
   font-size: 1.5rem;
   margin:0;
}
.about ol{
   font-size: 1.5rem;
}
.title1{
   text-align: center;
   font-size: 1.8rem;
}
.projects{  
   grid-row-start: 3;
   grid-column-start: 3;
}
.title2{
   text-align: center;
   font-size: 1.8rem;
}
.proj-images ul  {
   text-align: center;
   padding: 0;
}
.proj-images ul li {
   margin: 5%;
   display: inline-block;
}
.proj-images ul li img{
    width:  100px;
    height: 100px;
    object-fit: cover;
}


/* -------contact------- */
.contact{
   background: url("/img/wallpaper2.jpg");
   height: 95vh;
   background-size: cover;
   background-repeat: no-repeat;
   color: aquamarine;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
   font-size: 1.8rem;
   line-height: 2;
   border: 1px solid rgb(19, 16, 16);
}
.contact,input {
   padding: 1%;
   width: 100%;
}
.form{
  padding: 10%;
  height: 40vh;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.name{
   float: left;
   padding-right: 3%;
}  
.email{
   float: left;
   padding-right: 3%;
}
.desc{
   float: left;
   padding-right: 3%;
}
.button{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.btn1{
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}
.btn1:hover {
   background-color: #4CAF50;
   color: white;
}
 
/* -------foot------- */
.footer{
   height: 30vh;
   background: #101214;
   overflow: hidden;
   padding: 5%;
   text-align:center;
}
.Right-footer{
  border: 2px solid rgb(44, 35, 43);
  padding: 10px;
}

@media screen and (max-width: 800px) {

   .nav_text{
      display: none;
   }
   .navbar{
      display: unset;
   }
   .symbol{
      padding-top: 10px;
      padding-left: 0%;
   }
   .shortcuts{
      font-size: 1.2rem;
   }
   .navbar ul {
      width: 87%;
    }
   .navbar ul li {
      margin: auto;
   }
   .container{
      display: block;
      background: unset;
   }
   .myimg{
      height: 200px;
      width: 300px;
      object-fit: contain;
      padding: 0%;
   }
   .welcome-2{
      padding:0%;
   }
   .welcome-3{
      padding:0%;
   }
   .welcome-1 br{
      display: none;
   }
   .welcome-1 h1{
      font-size: 2rem;
      line-height: 0.85;
   }
   .welcome-1 h2{
      font-size: 1.5rem;
      text-align: center;
   }
   .welcome-1 li{
      font-size: 1rem;
   }
   .welcome-2 h3{
      font-size: 1.2rem;
      text-align: center;
   }
   .welcome-2 li{
      font-size: 0.9rem;
   }
   .welcome-3 h3{
      font-size: 1.2rem;
      text-align: center;
   }
   .welcome-3 li{
      font-size: 0.9rem;
   }
   .contact{
      line-height: 1.4;
   }
}